html,
body {
  min-width: 1440px;
}
body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;


  /***************************************
  background: url('./img/Desktop-2.jpg');
  block-size: 1440px auto;*/
}
p {
  margin: 0;
  padding: 0;
  line-height: 26px;
}
button {
  border: none;
  box-shadow: none;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  border-radius: 10px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #2e2f22;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  text-align: center;
}

.main-header {
  background-color: #d7d1c9;
  width: 100vw;
  height: 40.36vw;
  background-image: url("./img/bk_menu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;


  /********************************************
  width: 1440px;
  height: 581px;*/
}

.main-header.post {
  background-image: url("./img/bk_menu2.jpg");
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site-navigation-item {
  padding: 29px 0;
  margin-left: 83px;
  font-size: 18px;
  line-height: 25px;
}
.link-item {
  text-decoration: none;
  color: #2e2f22;
}
.promo {
  background-color: #e5e5e5;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}
.posts {
  margin-top: 58px;
}
.section-title {
  font-size: 36px;
  line-height: 35px;
  color: #2e2f22;
  margin-top: 34px;
}

.posts-filters {
  width: 203px;
  height: 46px;
  margin-top: 19px;
  background-color: #d7d1c9;
  background-image: url("./img/triangle.svg");
  background-position: 88% 59%;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 19px;
  padding-top: 4px;
  color: #2e2f22;
}
.post-list,
.post-photos {
  display: flex;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  text-align: left;
}
.post-item {
  width: 387px;
}
.post-item-link {
  display: block;
  font-family: "Open Sans";
  text-decoration: none;
  color: #2e2f22;
}
.post-item-link img {
  height: 268px;
  width: 387px;
  border-radius: 10px;
}

.post-item-title {
  font-size: 18px;
  line-height: 27px;
  margin-top: 22px;
}
.post-item-description {
  margin-top: 8px;
}
.post-item-outdata {
  margin-top: 12px;
}
.post-photos {
  margin-top: 66px;
}
.post-photo {
  background: url("./img/photo1.jpg") no-repeat;
  background-size: contain;
  border-radius: 10px;
}
.post-photo:last-of-type {
  background: url("./img/photo2.jpg") no-repeat;
  background-size: contain;
  border-radius: 10px;
}
.post-photo-link {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  width: 590px;
  height: 552px;
  font-family: "Open Sans";
  text-decoration: none;
  padding: 359px 79px 61px 83px;
}
.post-photo-link *{
  color: #ffffff;
}

.post-photo-title {
  font-size: 20px;
  line-height: 30px;
}
.post-photo-description {
  font-size: 18px;
  line-height: 28px;
  margin-top: 9px;
}
.post-photo-outdata,
.post-item-outdata {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  margin-top: 14px;
}
.post-item-outdata {
  color: rgba(46, 47, 34, 0.7);
}
.post-photo-outdata {
  color: rgba(255, 255, 255, 0.7);
}
.post-item-time {
  margin-right: 1px;
}
.show-more {
  box-sizing: border-box;
  margin-top: 103px;
  background-color: transparent;
  border: 1px solid #202117;
  padding: 9px 57px 8px;
}
.about {
  margin-top: 58px;
}
.about-me {
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  text-align: left;
}
.about-text {
  margin-left: 20px;
  margin-top: 14px;
  padding-top: 2px;
}
.about-intro {
  width: 100%;
}
.about-intro-p {
  padding-left: 20px;
  margin-top: 26px;
}
.link-text {
  font-family: "Open Sans";
  color: #2e2f22;
}
.about-motto {
  width: 100%;
  padding: 26px 20px 27px;
  border-left: 3px solid #d7d1c9;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin-top: 74px;
  margin-left: -2px;
}
.portfolio {
  margin-top: 59px;
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.portfolio-item {
  width: 387px;
  height: 525px;
  border-radius: 10px;
  background: #c4c4c4;
  background: url("./img/p2.jpg");
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.15));
}
.portfolio-item:nth-of-type(2) .portfolio-item-link *{
  color: #ffffff;
}
.portfolio-item:first-of-type {
  background: url("./img/p1.jpg");
}
.portfolio-item:last-of-type {
  background: url("./img/p3.jpg");
}
.portfolio-item-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  color: #2e2f22;
  text-decoration: none;
  padding: 140px 18px 0;
}
.portfolio-item-title {
  margin-bottom: 43px;
  font-size: 20px;
  line-height: 30px;
}
.portfolio-item-subtitle {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 28px;
}
.portfolio .show-more {
  padding: 10px 50px 8px;
  margin-top: 101px;
}
.back-channeling {
  margin-top: 59px;
}
.back-channeling-form {
  box-sizing: border-box;
  margin: 58px auto 0;
  width: 996px;
  height: 637px;
  padding: 53px 81px 62px;
  border-radius: 10px;
  background: url("./img/bkgr_form.jpg") no-repeat;
}
.back-channeling-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.back-channeling-label {
  display: block;
  width: 407px;
  font-family: "Spectral SC", serif;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}
.form-block {
  margin-bottom: 20px;
}
.back-channeling-input,
.back-channeling-message {
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 19px 20px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #202117;
  opacity: 0.7;
}
.back-channeling-input {
  width: 407px;
  height: 63px;
  border: 1px solid #202117;
}
.back-channeling-message {
  width: 837px;
  height: 293px;
  padding-top: 20px;
}
.back-channeling-form button {
  box-sizing: border-box;
  margin-top: 15px;
  padding: 12px 65px 10px 63px;
  background-color: transparent;
  border: 1px solid #202117;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #202117;
}
.main-footer {
  margin: 81px auto 0;
  width: 1440px;
  height: 116px;
  background-color: #d7d1c9;
  padding-top: 65px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 631px;
  margin: 0 auto;
}
.social-link {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2e2f22;
}
.warning {
  color: red;
}
/* Стили для страницы со статьей*/
.one-post .container {
  text-align: left;
  width: 998px;
  margin-left: 105px;
}
.the-post {
  margin-top: 58px;
}
.post-outdata {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  width: 317px;
  margin-bottom: 52px;
}
.post-text {
  margin-bottom: 38px;
}
.post-text p {
  margin-bottom: 26px;
}
figure {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  margin-top: 38px;
}
figcaption {
  font-size: 14px;
  line-height: 26px;
  margin-top: 8px;
}
.post-social-wrapper {
  display: flex;
  justify-content: flex-start;
}
.like {
  width: 50px;
  min-height: 54px;
  margin-top: 4px;
  background: url("./img/like.svg") no-repeat;
  fill: #2e2f22;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.like:hover {
  transform: translateY(-4px);
}
.likes-number {
  margin-left: 14px;
  margin-right: auto;
  margin-top: 29px;
  font-size: 24px;
  line-height: 24px;
}
.post-social {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.social-sign-link {
  display: block;
  width: 50px;
  height: 54px;
  margin-left: 32px;
  cursor: pointer;
}
.social-sign-link:hover {
  transform: translateY(-4px);
}
.social-sign-link.twitter {
  background: url("./img/twitter.svg") 50% 8px no-repeat;
}
.social-sign-link.facebook {
  background: url("./img/facebook.svg") 50% 4px no-repeat;
}
.social-sign-link.vk {
  background: url("./img/vk.svg") 50% 14px no-repeat;
}
.btn-all-posts {
  display: block;
  width: 404px;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;
  color: #2e2f22;
  background: url("./img/Arrow.svg") right center no-repeat;
  margin-bottom: 65px;
  margin-left: 1px;
}
.comment-feed {
  width: 793px;
  margin-left: 121px;
}
.comment-list {
  width: 100%;
  background: #ece1e1;
  border-radius: 10px;
  padding-top: 44px;
  padding-left: 101px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.comment-user {
  margin-bottom: 20px;
  line-height: 22px;
}
.comment-user:first-child {
  margin-bottom: 53px;
}
.comment-user:last-child p {
  margin-left: -2px;
}
.comment-user-wrapper {
  display: flex;
  align-items: flex-start;
}
.comment-user:last-child .comment-user-wrapper p {
  margin-top: 12px;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 13px;
  margin-bottom: 12px;
}
.comment-user-name {
  font-weight: bold;
}
.comment-user-wrapper p {
  margin-top: 11px;
}
.comment-form-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 94px 81px 69px;
}
.comment-form {
  padding: 0;
  padding-left: 81px;
}
.comment-inner-wrapper {
  display: flex;
}
.comment-inner {
  width: 221px;
  margin-right: 84px;
}
.comment-field {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2e2f22;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 34px;
  background-color: transparent;
}
.button {
  width: 224px;
  height: 46px;
  margin-top: 18px;
  border: 1px solid #202117;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
}
.button:hover:not(.nohover){
  transform: 0 4px;
  background-color: #ffffff;
  filter: drop-shadow(2px 2px 3px #2e2f22);
}
.comment-field-input {
  width: 100%;
  height: 208px;
  outline: none;
  background-color: transparent;
  border: 1px solid #2e2f22;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 17px 20px;
}
